@import "tailwindcss";

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--color-brand-start: #3B82F6; /* blue-500 */
	--color-brand-end: #8B5CF6;   /* violet-500 */
}
